@import "resources/assets/sass/vendor/bootstrap";

@import "resources/assets/sass/vendor/bootstrap-social";

// Line height adjustment from bootstrap-social

.btn-social.btn-lg > :first-child {
	line-height: 68px;
}

body {
	padding-top: 70px;
}

a {
	color: #2c3e50;

	&:hover {
		color: #2c3e50;
	}
}

.navbar-brand {
	font-weight: bold;
}

.intro-title {
	margin-top: 0;
	font-weight: bold;
}

.no-padding {
	padding: 0px;
}

.padding-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.inline {
	display: inline;
}

.single-question {

	.single-question-title {
		font-weight: bold;
	}

	.single-question-buttons {
		margin-bottom: 10px;
	}
}

.action-bar {
	margin-bottom: 10px;
}

@import "resources/assets/sass/modules/comments";

.arrow-mark {
	font-size: 32px;
	display: block;
	margin-top: 5px;
}

.votes {
	font-size: 32px;
	display: block;
	margin-top: 5px;
	padding-left: 7px;
}