@import "resources/assets/sass/vendor/bootstrap";
body {
	padding-top: 70px;
}

.no-padding {
	padding: 0px;
}

.padding-15 {
	padding-left: 15px;
	padding-right: 15px;
}

@import "resources/assets/sass/modules/comments";

.arrow-mark {
	font-size: 32px;
	display: block;
	margin-top: 5px;
}

.votes {
	font-size: 32px;
	display: block;
	margin-top: 5px;
	padding-left: 7px;
}